* {
    box-sizing: border-box;
}
.profile-page-bio {
  max-width: 728px;
  max-height: 96px;
}
.profile-page-bio .profile-picture {
  width: 12.5%;
  float: left;
  margin-right: 10px
}
.profile-page-bio .profile-picture img {
  width: 88px;
  height: 88px;
}
.female {
  border: 4px solid #ee4494;
}
.male {
  border: 4px solid #37d5fe;
}
.profile-page-bio .profile-name {
  float: left;
  text-align: left;
  font-family: Arial;
  font-weight: bold;
  font-size: 36px;
  color: #575757;
  margin-top: -1%;
}
.profile-page-bio .profile-address {
  float: right;
  text-align: center;
  line-height: 5px;
  font-family: Arial;
  font-size: 18px;
  color: #575757;
  margin-right: 19px;
}
